@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
    font-family:'Roboto', sans-serif;
}

body
{
    background: #2b0521;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.container { 
    position: relative;
    width: 40rem;
    color: #e9deec;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0,0,0,01);
}

.container::before {
    content: 120px;
    position: absolute;
    background-color: #55374d;
    width:120px ;
    height: 120px;
    filter: blur(140px);
    right: -20%;
    bottom: -10%;
    z-index:-1000;
}

h1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

p{
    font-size: 14px;
    color :#ccc;
    line-height: 1.4rem;
    text-align: justify;
}

.gen-form{
    margin-top:20px;
    display: flex;
    gap:10px;
    width: 100%;
}

input{
    width: 80%;
    border-radius:5px;
    outline:none;
    border:none ;
    padding: 0 15px;
    background-color:transparent;
    color: #fff;
    border:1px solid #b4b3b3;
    transition: all 0.3s ease;
}

input:hover, input:focus{
    border-color:#d5cdd3;

}

button{
    width: 20%;
    height: 36px;
    color: 1px solid #ccc;
    border: #fff;
    background: #b698ae;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
button:hover{
    background: #e9deec;
    border-color:transparent;

}
    
#loading{
    display:none;
    font-size:18px;
    margin: 10px 0;
}